In [44]:
name = 'Intro to python'

In [45]:
name[6:8]

'to'

In [46]:
name[20:50]

''

In [47]:
t1 = 'Intro','KU',80

In [48]:
type(t1)

tuple

In [49]:
t1[2]

80

In [50]:
t1

('Intro', 'KU', 80)

In [57]:
t2 = 'Expert',100,t1

In [52]:
t2

('Expert', 100, ('Intro', 'KU', 80))

In [53]:
t2[2][1][0]

'K'

In [54]:
t1 = 'Intro','KU',81

In [55]:
t1

('Intro', 'KU', 81)

In [58]:
t2

('Expert', 100, ('Intro', 'KU', 81))

In [59]:
t1 = 'Intro', 'KU', 81
t2 = 'Expert',100,'Hello'

In [62]:
(t1+t2)[1:4]

('KU', 81, 'Expert')

In [63]:
x,y,z = t1

In [64]:
list1 = ['Intro','KU',81]

In [65]:
list1

['Intro', 'KU', 81]

In [66]:
list1[2] = 82

In [67]:
list1

['Intro', 'KU', 82]

In [68]:
L1 = [10,30,50]

In [69]:
L1.append(60)

In [70]:
L1

[10, 30, 50, 60]

In [71]:
x = [8,9]

In [72]:
L1.append(x)

In [73]:
L1

[10, 30, 50, 60, [8, 9]]

In [74]:
L1.pop()

[8, 9]

In [75]:
L1

[10, 30, 50, 60]

In [76]:
L1.extend(x)

In [77]:
L1

[10, 30, 50, 60, 8, 9]

In [78]:
L1.insert(2,40)

In [79]:
L1

[10, 30, 40, 50, 60, 8, 9]

In [80]:
L1.pop()

9

In [81]:
L1

[10, 30, 40, 50, 60, 8]

In [82]:
L1.pop(1)

30

In [83]:
L1

[10, 40, 50, 60, 8]

In [84]:
L1.remove(50)

In [85]:
L1

[10, 40, 60, 8]

In [87]:
L1.sort()

In [90]:
L1

[8, 10, 40, 60]

In [93]:
not 99 in L1
# 99 in L1

True

In [95]:
for e in L1 :
    print(e)

8
10
40
60

In [96]:
s1 = set('kasetsart')
s2 = set('university')

In [97]:
s1

{'a', 'e', 'k', 'r', 's', 't'}

In [98]:
s2

{'e', 'i', 'n', 'r', 's', 't', 'u', 'v', 'y'}

In [99]:
s1 & s2

{'e', 'r', 's', 't'}

In [100]:
s1 - s2

{'a', 'k'}

In [101]:
s1 | s2

{'a', 'e', 'i', 'k', 'n', 'r', 's', 't', 'u', 'v', 'y'}

In [104]:
d1 = {'a':100,'b':[200,300,'Hello'],90:'end'}

In [105]:
d1

{'a': 100, 'b': [200, 300, 'Hello'], 90: 'end'}

In [107]:
d1['a']

100

In [111]:
d1.keys()

dict_keys(['a', 'b', 90])

In [113]:
d1.values()

dict_values([100, [200, 300, 'Hello'], 'end'])

In [116]:
d1.get('c','Hello')

'Hello'

In [121]:
del d1['a']

In [122]:
d1

{'b': [200, 300, 'Hello'], 90: 'end'}

In [123]:
d1 = {'a':100,'b':[200,300,'Hello'],90:'end'}

In [126]:
d2 = dict([('a',100),('b',[200,300,'Hello']),(90,'end')])

In [130]:
d1['b'][2][0]

'H'

In [131]:
players = open('tennis_players','w')

In [132]:
players.write("John\n");
players.write("Jame\n");

In [133]:
players.close()

In [134]:
n = open('tennis_players','r')

In [135]:
st = n.read()

In [136]:
print(st)

John
Jame